<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
<div class="d-flex flex-row justify-content-center my-3" th:fragment="admin-navbar">
    <div class="admin-menu-item p-2"><a th:href="@{~/admin/products}">Products</a></div>
    <div class="admin-menu-item p-2"><a th:href="@{~/admin/coupons}">Coupons</a></div>
    <div class="admin-menu-item p-2">Orders</div>
    <div class="admin-menu-item p-2">Users</div>
</div>
</body>
</html>