<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
<nav th:fragment="navbar" class="navbar1">
<div class="navbar-container">
    <a th:href="@{~/}"><div class="navbar-brand1">
        <h3>Gamekeystore</h3>
        <span>Jatekok olcsobban</span>
    </div></a>
    <div class="navbar-items">
        <ul>
            <li><a th:href="@{~/api/products}">Products</a></li>
            <li>Contact</li>
        </ul>
    </div>
    <div class="controls">
        <div class="navbar-items">
            <ul>
                <li><a th:href="@{~/cart/}"><i id="cart-icon" class="fas fa-shopping-cart"></i></a></li>
                <li><i class="fas fa-search"></i></li>
                <li th:if="${session.firstName == null}"><a th:href="@{~/user/login}"><i class="fas fa-user"></i></a></li>
                <li th:if="${session.firstName != null}"><a th:href="@{~/user/profile}"><span th:text="${session.firstName + ' ' + session.lastName}"></span></a></li>
            </ul>
        </div>
    </div>
</div>
</nav>
</body>
</html>