<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <div class="container-fluid top-bar" th:fragment="contactbar">
        <div class="container h-100 top-bar-container">
            <div class="d-inline-flex top-bar-item"><span class="top-bar-item-inner" id="bar-location">Budapest, Magyarország</span></div>
            <div class="d-inline-flex top-bar-item"><span class="top-bar-item-inner" id="bar-email">info@gamekeystore.hu</span></div>
        </div>
    </div>
</body>
</html>