<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <th:block th:include="fragments/header.html :: header"></th:block>
</head>
<body>
<div class="container text-center my-3">
    <h1>Products</h1>
    <div th:replace="fragments/admin-navbar.html :: admin-navbar"></div>
    <div class="btn btn-primary my-1">Add new product</div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Name</th>
            <th>Base price:</th>
            <th>Sale price:</th>
            <th>Platform:</th>
            <th>Categories:</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="product : ${productsList}">
            <td th:text="${product.name}">Type</td>
            <td th:text="${product.basePrice}">Address</td>
            <td th:text="${product.salePrice}">500</td>
            <td th:text="${product.platform}">500</td>
            <td><span th:each="style : ${product.gameStyle}" th:text="${style}"></span></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>