<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="/fragments/header.html :: header"></th:block>
    <title>Cart</title>
    <script type="text/javascript" th:src="@{~/js/cart.js}"></script>
</head>
<body>
<div th:replace="fragments/top-bar.html :: contactbar"></div>
<div th:replace="fragments/navbar.html :: navbar"></div>
<h1 class="page-title">Cart</h1>
<div class="container text-center my-3">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Product Name</th>
            <th>Quantity</th>
            <th>Product price</th>
            <th>Remove</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="cartItem : ${cartItems}">
            <td th:id="${cartItem.product.name}" th:text="${cartItem.product.name}">Type</td>

            <td><input style="width: 50px" type="number" th:name="${cartItem.product.id}" min="1" step="1" th:value="${cartItem.quantity}" onchange="updateCount(this)" onkeydown="return false"></td>
            <td th:text="${cartItem.productSum}">Address</td>
            <td><a th:href="@{~/cart/removeitem(id=${cartItem.product.id})}"><i class="fas fa-minus" style="color: darkred" onclick="removeFromCart(this)"></i></a></td>
        </tr>
        </tbody>
    </table>
    <div class="alert alert-success d-none">Coupon successfully applied!</div>
    <div class="alert alert-danger d-none"></div>
    <div id="cart-footer">
        <h3 id="cart-total" th:text="'Cart total: ' + ${cartSum}"></h3>
        <div class="coupon-field">
            <label>Got a coupon? Add it here!</label>
            <input id="coupon-code" type="text" placeholder="Enter coupon code!">
            <button class="btn btn-primary" onclick="applyCoupon()">Check the code</button>
        </div>
    </div>
    <form th:action="@{~/checkout}" method="get">
        <button class="btn btn-primary">Place order</button>
    </form>
</div>
</body>
</html>