<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="/fragments/header.html :: header"></th:block>
    <script type="text/javascript" th:src="@{~/js/products.js}"></script>
</head>
<body>
<div th:replace="fragments/top-bar.html :: contactbar"></div>
<div th:replace="fragments/navbar.html :: navbar"></div>
<div class="container mt-3 products-container">
    <div th:replace="fragments/productsFragment.html :: productsList"></div>
</div>

</body>
</html>