<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="/fragments/header.html :: header"></th:block>
    <title>Cart</title>
    <script type="text/javascript" th:src="@{~/js/cart.js}"></script>
</head>
<body>
<div th:replace="fragments/top-bar.html :: contactbar"></div>
<div th:replace="fragments/navbar.html :: navbar"></div>
<h1 class="page-title">Profile</h1>
<div class="container text-center">
    <a th:href="@{~/user/orders}"><button class="btn btn-primary">View orders</button></a>
    <a th:href="@{~/user/changeinfo}"><button class="btn btn-primary">Modify account</button></a>
    <a th:href="@{~/user/rateproducts}"><button class="btn btn-primary">Rate ordered products</button></a>
    <a th:href="@{~/user/logout}"><button class="btn btn-primary">Logout</button></a>
    <a th:href="@{~/user/closeaccount}"><button class="btn btn-danger">Close account</button></a>
    <h3>Change address</h3>
    <form th:action="@{~/user/profile}" method="post" th:object="${address}">
        <div class="form-group">
            <label>Country</label>
            <div class="alert alert-danger" role="alert" th:each="err: ${#fields.errors('country')}" th:text="${err}"></div>
            <input type="text" class="form-control" th:field="*{country}" placeholder="Enter country" >
        </div>

        <div class="form-group">
            <label>State</label>
            <div class="alert alert-danger" role="alert" th:each="err: ${#fields.errors('state')}" th:text="${err}"></div>
            <input type="text" class="form-control" th:field="*{state}" placeholder="Enter state">
        </div>

        <div class="form-group">
            <label>City</label>
            <div class="alert alert-danger" role="alert" th:each="err: ${#fields.errors('city')}" th:text="${err}"></div>
            <input type="text" class="form-control" th:field="*{city}" placeholder="Enter city">
        </div>
        <div class="form-group">
            <label>Street</label>
            <div class="alert alert-danger" role="alert" th:each="err: ${#fields.errors('street')}" th:text="${err}"></div>
            <input type="text" class="form-control" th:field="*{street}" placeholder="Enter street">
        </div>

        <div class="form-group">
            <label>Number</label>
            <div class="alert alert-danger" role="alert" th:each="err: ${#fields.errors('number')}" th:text="${err}"></div>
            <input type="text" class="form-control" th:field="*{number}" placeholder="Enter number">
        </div>
        <div class="form-group">
            <label>Extra details</label>
            <input type="text" class="form-control" th:field="*{extra}" placeholder="Enter extra details">
        </div>

        <button type="submit" class="btn btn-primary">Save address details</button>
    </form>
</div>
</body>
</html>